{% extends "base.html" %}
{% load static %}
<link href="{% static "css/aktuelles.css" %}" rel="stylesheet">


{% block title %}
  Aktuelles
{% endblock %}
{% block content %}
<style>
    .fenster {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 120px;
        font-family: monospace;
        height:auto;
    }
    .aktuelles{
        background-color: #f6f7f8;
        border-radius:7px;
        width:90vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom:2em;
    }
    .right {
        margin-left: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-content: center;
        justify-content: flex-start;
    }
    img.aktuellesimg{
        height: 350px;
        border-radius: 7px;
        max-width:350px;
    }
    h1{
        margin-top:1em;
        font-size:2.9em;
        align-self: baseline;
    }
    .fltext {
        font-size: .9em;
        font-family: Helvetica;
        font-palette: light;
        font-optical-sizing: inherit;
        font-feature-settings: normal;
        font-kerning: normal;
        font-stretch: condensed;
        font-synthesis-style: inherit;
        font-variant: petite-caps;
        font-variant-numeric: lining-nums;
        font-stretch: expanded;
        line-height: 1.5;
        width: 95%;
        align-self: baseline;
        font-weight: 100;
        margin-bottom: 1.4em;
    }
    .wissenmiddle{
    font-size: x-large;
    margin-top: .7em;
    align-self: baseline;
    }
</style>
<div class="fenster">

<div class="aktuelles">
    <div class='left'><img class="aktuellesimg" src="{{wissenswert.image_1.url}}" alt="Bild zu{{c.ueberschrift}}"></div>
    <div class='right'>
        <h1>{{wissenswert.ueberschrift_1}}</h1><br>
      <div class="fltext">  {{wissenswert.text_1}}</div>
      <h2 class="wissenmiddle">{{wissenswert.ueberschrift_2}}</h2><br>
      <div class="fltext">  {{wissenswert.text_2}}</div>
    
    </div>


</div>

</div>
{% endblock %}