@charset "utf-8";
	.st0
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
}
.image4
{
	background-image : url(image4.png);
	background-repeat : no-repeat;
}
.image12
{
	background-image : url(image12.png);
	background-repeat : no-repeat;
}
.image8
{
	background-image : url(image8.png);
	background-repeat : no-repeat;
}
.image6
{
	background-image : url(image6.png);
	background-repeat : no-repeat;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
}
.image7
{
	background-image : url(image7.png);
	background-repeat : no-repeat;
}
.NormalesZeichenformat
{
	font-family : Mongolian Baiti;
	font-size : 72px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalesZeichenformat1
{
	font-family : Mongolian Baiti;
	font-size : 71px;
	line-height : 78px;
	color : #F9F8F7;
	color : rgb(249, 248, 247);
}
.NormalesZeichenformat4
{
	font-family : Mongolian Baiti;
	font-size : 22px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalesZeichenformat2
{
	font-family : Mongolian Baiti;
	font-size : 72px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalesZeichenformat3
{
	font-family : Mongolian Baiti;
	font-size : 22px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalesZeichenformat5
{
	font-family : Mongolian Baiti;
	font-size : 22px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalesZeichenformat9
{
	font-family : Mongolian Baiti;
	font-size : 72px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalesZeichenformat8
{
	font-family : Mongolian Baiti;
	font-size : 44px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalesZeichenformat7
{
	font-family : Mongolian Baiti;
	font-size : 22px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalesZeichenformat6
{
	font-family : Mongolian Baiti;
	font-size : 44px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalesZeichenformat10
{
	font-family : Mongolian Baiti;
	font-size : 60px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st1
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	border-style : Solid;
	border-color : #94A6EA;
	border-color : rgba(148, 166, 234, 1);
	border-width : 1px;
}
.st2
{
	background : #E2293F;
	background : rgba(226, 41, 63, 1);
	border-style : Solid;
	border-color : #94A6EA;
	border-color : rgba(148, 166, 234, 1);
	border-width : 1px;
}
.st3
{
	background : #C0A274;
	background : rgba(192, 162, 116, 1);
}
.st4
{
	background : #C0A274;
	background : rgba(192, 162, 116, 1);
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
}
.st5
{
	background : #C0A274;
	background : rgba(192, 162, 116, 1);
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
}
.image5
{
	background-image : url(image5.png);
	background-repeat : no-repeat;
}
.st6
{
	background : #E2293F;
	background : rgba(226, 41, 63, 1);
	border-style : Solid;
	border-color : #94A6EA;
	border-color : rgba(148, 166, 234, 1);
	border-width : 1px;
}
.st7
{
	background : #E2293F;
	background : rgba(226, 41, 63, 1);
}
.st8
{
	background : #C0A274;
	background : rgba(192, 162, 116, 1);
}
.st9
{
	background : #C0A274;
	background : rgba(192, 162, 116, 1);
}
.image13
{
	background-image : url(image13.png);
	background-repeat : no-repeat;
}
.image11
{
	background-image : url(image11.png);
	background-repeat : no-repeat;
}
.image10
{
	background-image : url(image10.png);
	background-repeat : no-repeat;
}
.image9
{
	background-image : url(image9.png);
	background-repeat : no-repeat;
}
.st10
{
	background : #E2293F;
	background : rgba(226, 41, 63, 1);
	border-style : Solid;
	border-color : #94A6EA;
	border-color : rgba(148, 166, 234, 1);
	border-width : 1px;
}
.st11
{
	background : #5B80C1;
	background : rgba(91, 128, 193, 1);
}
.image14
{
	background-image : url(image14.png);
	background-repeat : no-repeat;
}
.image3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
}
