{% extends "kollektionen/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Kollektionen{% endif %}
{% endblock %}
<link href="{% static "./css/list.css" %}" rel="stylesheet">

{% block content %}
<style>
  
  @font-face{
    font-family: "JustlefthandWeb W03 Regular";;
    src: url("/static/css/a.eot");
    src: url("/static/css/a.eot?#iefix")format("embedded-opentype"),
    url("../static/css/a.woff")format("woff"),
    url("../static/css/a.woff2")format("woff2"),
    url("../static/css/a.ttf")format("truetype"),
    url("../static/css/a.svg#JustlefthandWeb W03 Regular")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
  }
  @font-face{
    font-family: "JustlefthandWeb W03 Regular";;
    src: url("../css/a.eot");
    src: url("../css/a.eot?#iefix")format("embedded-opentype"),
    url("../css/a.woff")format("woff"),
    url("../css/a.woff2")format("woff2"),
    url("../css/a.ttf")format("truetype"),
    url("../css/a.svg#JustlefthandWeb W03 Regular")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
  }
  figcapture:hover{
    opacity: 1;
      transition: opacity 0.5s ease-in 0.6s;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 50px;
  }
  .grid figure {
    margin: .1rem;
    position: relative;
  }
  .grid figure figcaption {
    background: #f8011e;
    bottom: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 1rem;
    -webkit-transition: all 0.2s cubic-bezier(1, 0.24, 0, 0.76);
    overflow: hidden;
    rotate: 270deg;
    font-size: 1.3em;
  }
  .grid figure p {
    margin-top: 0.5rem;
  }
  .grid img {
    width: 300px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  /*@media screen and (min-width: 701px) {*/
    figure {
      width: 300px;
    }
    figure figcaption {
      height: 50px;
      font-size: 3em;
      color:rgba(236, 241, 241, 0.531);
     
    }
    figure:hover figcaption {
      position: absolute;
      bottom: 0;
      width: 300px;
      height: 100%;
      opacity: .7;
      transition: height 0.5s ease-in;
      font-size: 2em;
    }
    figure:hover p {
      opacity: 1;
      transition: opacity 0.5s ease-in 0.6s;
    }
  
    p {
      font-family: JustlefthandWeb W03 Regular;
      opacity: 0;
      font-size: 1.4em;
      font-weight:300;
    }
    figcaption{
      opacity: 0.0;
      font-family: JustlefthandWeb W03 Regular;
      font-size: 2em;
      font-weight: 600;
  
    }
    @media screen (min-width: 638px) {
  img figure{
    width:38vw;
  }
    }
  /*@media screen and (max-width: 700px) {
    figure {
      width: 100%;
    }
  
    p {
      opacity: 1;
    }
  
    figcaption {
      height: auto;
      opacity: .0;
      
    }
  }*/
  figure {
    -webkit-animation: grid 1.5s ;
            animation: grid 1.5s ;
  }
  @-webkit-keyframes grid {
    0% {
      -webkit-transform: scale(.950);
              transform: scale(.950);
      
      margin:25px;
     
    
    }
   
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      
      margin:2px;
      
    }
  }
  @keyframes grid {
    0% {
      -webkit-transform: scale(.987);
              transform: scale(.987);
      
      margin:12px;
    }
    97%{
      margin:2px;
    }
    98%{
      margin:3px;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      
      margin:2px;
      
    }
  }
  

  img{
    border: none;
  }
  div.longline {
    width: 100vw;
    font-size: 2em;
    font-family: monospace;
    margin-top: 58px;
    margin-left: 100px;
    margin-bottom: -50px;
    z-index: 888;
}
</style>
  
<div class="grid animation">
  <div class="longline"> <h1>Kollektionen</h1> </div>
      {% for c in categories %}
      <figure>
         {% if category.slug == c.slug %}{% endif %}
        <img src="{{ c.image.url }}">
        <a href="{{ c.get_absolute_url }}"><figcaption>{{ c.name }}</figcaption></a>
      </figure>
      {% endfor %}
    </div>
  </div>
 
{% endblock %}