{% extends "kollektionen/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}aaaaaaaaaaa{% else %}Products{% endif %}
{% endblock %}

{% block content %}
 
    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
    {% for product in products %}
      <div class="item">
        <a href="{{ product.get_absolute_url }}">
          <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        <br>
        ${{ product.price }}
      </div>
    {% endfor %}
  </div>
{% endblock %}