{% extends "atelier_base.html" %}
{% load static %}
<link id="folio-css" href="{% static "css/atelier.css" %}" rel="stylesheet">



{% block title %}
  Atelier Schueller
{% endblock %}
{% block content %}



 

<main>

    <article self="size-1of1" >
        <div self="size-medium left" class="-p-6 -md-p-4 -text-large -md-text-medium -text-bold -bg-white -ml-6 -lg-ml-0" >
            <h1 class="-text-title ">Schüller design</h1>
            <p>
                Ringe – individuell, modern, zeitlos und dazu nachhaltig und ressourcenschonend *
Verliebt – verlobt – verheiratet. Anlässe, die Verbundenheit ausdrücken und manifestieren möchten gibt es heute wie damals. Der Ring hat dabei seine Symbolkraft nie verloren. Er spielt auch heute die Hauptrolle beim feierlichen Ritual. Althergebrachte Normen haben sich jedoch überholt. Individualität und persönlicher Ausdruck sind anstelle dessen als moderne Selbstzeugnisse in den Blickpunkt getreten.
                <a href="#/about-images">Bain News Service</a> from the 1900s to the mid-1920s.”
            </p>
            <a href="#/2">Das Atelier</a>
        </div>
    </article>

    <img src="/media/atelier/ring_mit_lic.jpg" transition="left-scale" style="position:absolute;top:66px"/>
   
    {% for c in bilder %}
    <img src="{{c.image.url}}"alt="{{c.beschreibung}}"style="position:absolute;top:66px"/>
    {% endfor %}
  

    <article hash="about-images" transition="scale-left">
        <h3>About the Website</h3>
        <p>
            schüller design:
        </p>
        <p>
            More info: <br/>
            
        </p>
        <p>
            Credit: <br/>
            
        </p>
        <p>
            Source Code and Design: <br/>
            Hermann Wenninger
            info@wennhmann.de
            
        </p>
        <p>
            Edit: <br/>
            schueller-design.de
        </p>
    </article>

    <article hash="about-images" transition="scale-left">
        <h3>30 Jahre - Ringe von Claudia Schüller</h3>
        <p style="width:90vw;align-self:center; margin:0.3em">
            Jede Beziehung ist einzigartig und von den verschiedenen Facetten der 
            Persönlichkeiten geprägt. Die Ringkollektionen von Claudia Schüller zeigen
            stets eine besondere Seite, die auf die Individualität ihrer Träger Bezug 
            nehmen kann. Ob verspielt, poetisch, originell oder geheimnisvoll - die 
            traditionelle Idee der Paarringe wird immer mit einem durchdachten 
            Thema kombiniert, das idealerweise die Einzigartigkeit einer Beziehung 
            widerspiegelt.
        </p>
        <p style="width:90vw; align-self:center; margin:0.3em">
            Seit über 30 Jahren entwirft die Schmuckdesignerin Claudia Schüller 
            nachhaltige, faszinierende Partnerringe und überrascht immer wieder mit 
            neuen Ideen, die ihre Kollektionen einzigartig machen.
            Die wahre Kunst liegt darin, dass das Motto nicht nur oberflächlich 
            dekorativ erscheint, sondern sich in seiner Formulierung gewissermaßen 
            im Wesenskern ausdrückt, ähnlich dem genetischen Code.
            Im Rückblick auf die über Jahrzehnte gewachsene Kollektion von Claudia 
            Schüller zeigt sich die zeitlose Schönheit welche jedes einzelne Stück bis 
            heute ausstrahlt.
        </p>
        <p style="width:90vw; align-self:center; margin:0.3em">
            Freundschaften, Verlobungen und Ehen, die geschlossen werden haben 
            eine lange Tradition in der Besiegelung durch einen Ring. Es sind wichtige,
            romantische und vielleicht die höchsten Momente des Lebens - wie es in 
            dem Wort 'Hochzeit' zum Ausdruck kommt - wenn sich zwei Menschen als 
            Zeichen ihrer Liebe für das Tragen eines gemeinsamen Ringes 
            entscheiden. 
        </p>
        <p style="width:90vw; align-self:center; margin:0.3em">
            Symbolisch stehen die Schmuckstücke für getrennt sein und doch 
            zusammengehörig. Inschriften wie „Für immer und ewig“ liegt der Wunsch
            und die Ironie moderner partnerschaftlicher Beziehungen zu Grunde. 
            Zusammengehörig und doch trennbar, als Einzelnes so attraktiv wie als 
            Ganzes.
        </p>
        <p style="width:90vw; align-self:center; margin:0.3em">
            Die Schmuckstücke sind charmante Äquivalente zu unserer eigenen 
            partnerschaftlichen Erfahrung mit der Hoffnung auf Zusammengehörigkeit.
            Sie sind einzigartig kombinierbar und unterstreichen die moderne Lust auf 
            Individualität – In jeder Beziehung.
            Helga Maria Bischoff, Galeristin/ Berlin 
        </p>
        
       
    </article>


    
 
</main>



<script src="{% static '/script/atelier.js' %}"></script> 

<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-55129573-1', 'auto');
    ga('send', 'pageview');
    ga('require', 'linker');
    ga('linker:autoLink', ['fastspring.com']);
</script>
        
<script>
    FOLIO.init( {
        project : {
            pagination : false,
            views : 'normal contain'
        },
        thumbnails : {
            size : '270x180',
            fit : 'contain'

        },
        content : {
            inactivity : true,
            transition : 'scale-up',
            ui: 'icon'
        }
        
    } );
</script>

<style>
    .ui.ui-button.ui-button-section {
        z-index: 9999 !important;
        position: fixed;
        bottom: 40px;
        left: 90px;
    }
    .ui.ui-button.ui-button-views {
        z-index: 9999 !important;
        position: fixed;
        bottom: 40px;
        left: 50px;
    }
</style>
{% endblock %}



