{% extends "kollektionen/base.html" %}
{% load static %}
<link id="folio-css" href="{% static "css/atelier.css" %}" rel="stylesheet">


<script src="{% static '/script/atelier.js' %}"></script> 

{% block title %}
  Atelier
{% endblock %}
{% block content %}



 

<main>

    <article self="size-1of1" >
        <div self="size-medium left" class="-p-6 -md-p-4 -text-large -md-text-medium -text-bold -bg-white -ml-6 -lg-ml-0" >
            <h1 class="-text-title ">schüller design</h1>
            <p>
                Ringe – individuell, modern, zeitlos und dazu nachhaltig und ressourcenschonend *
Verliebt – verlobt – verheiratet. Anlässe, die Verbundenheit ausdrücken und manifestieren möchten gibt es heute wie damals. Der Ring hat dabei seine Symbolkraft nie verloren. Er spielt auch heute die Hauptrolle beim feierlichen Ritual. Althergebrachte Normen haben sich jedoch überholt. Individualität und persönlicher Ausdruck sind anstelle dessen als moderne Selbstzeugnisse in den Blickpunkt getreten.
                <a href="#/about-images">Bain News Service</a> from the 1900s to the mid-1920s.”
            </p>
            <a href="#/2">Das Atelier</a>
        </div>
    </article>


   
    {% for c in bilder %}
    <img src="{{c.image.url}}"alt="{{c.beschreibung}}" fit="cover right" transition="left-scale"/>
    {% endfor %}
  

    

    <article hash="about-images" transition="scale-left">
        <h3>About images</h3>
        <p>
            schüller design:
        </p>
        <p>
            More info: <br/>
            
        </p>
        <p>
            Credit: <br/>
            
        </p>
        <p>
            Source: <br/>
            
        </p>
        <p>
            Edit: <br/>
            schueller-design.de
        </p>
    </article>

    
    <article self="size-xlarge" transition="fold-left" hash="next">
        <div layout="row top-stretch spacing-5" >
            <article class="-cph-3">
                <h3 class="-mb-3 -color-red">More examples</h3>
                <a href="/examples/portraits" class="-border-none -hover-bg-grey200 -cmv-2 -pv-2">
                    <h5>Portraits</h5>
                  
                </a>
                <a href="/examples/1910" class="-border-none -hover-bg-grey200 -cmv-2 -pv-2">
                    <h5>Photo essay</h5>
                    <p></p>
                </a>
                <a href="/examples/narrative" class="-border-none -hover-bg-grey200 -cmv-2 -pv-2">
                    <h5>Creative layout</h5>
                    <p></p>
                </a>
                <a href="/examples/standard" class="-border-none -hover-bg-grey200 -cmv-2 -pv-2">
                    <h5>Standard photobook</h5>
                    <p></p>
                </a>
                <a href="/examples/basic" class="-border-none -hover-bg-grey200 -cmv-2 -pv-2">
                    <h5>Basic slideshow</h5>
                    <p></p>
                </a>
            </article>
            <article class="-cph-3">
                <h3 class="-mb-3 -color-red">More guides</h3>
                <a href="/examples/layout/photo" class="-border-none -hover-bg-grey200 -cmv-2 -pv-2">
                    <h5>Single photo layout</h5>
                    <p></p>
                </a>
                <a href="/examples/layout/diptych" class="-border-none -hover-bg-grey200 -cmv-2 -pv-2">
                    <h5>Diptych layout</h5>
                    <p></p>
                </a>
                <a href="/examples/transitions" class="-border-none -hover-bg-grey200 -cmv-2 -pv-2">
                    <h5>Transitions</h5>
                    <p></p>
                </a>
                <a href="/examples/thumbnails" class="-border-none -hover-bg-grey200 -cmv-2 -pv-2">
                    <h5>Thumbnails</h5>
                    <p></p>
                </a>
                <a href="/examples/sidebar" class="-border-none -hover-bg-grey200 -cmv-2 -pv-2">
                    <h5>Sidebar</h5>
                    <p></p>
                </a>
            </article>
        </div>
    </article>
</main>





<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-55129573-1', 'auto');
    ga('send', 'pageview');
    ga('require', 'linker');
    ga('linker:autoLink', ['fastspring.com']);
</script>
        
<script>
    FOLIO.init( {
        project : {
            pagination : false,
            views : 'normal contain'
        },
        thumbnails : {
            size : '270x180',
            fit : 'contain'

        },
        content : {
            inactivity : true,
            transition : 'scale-up',
            ui: 'icon'
        }
    } );
</script>
{% endblock %}



