{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/mainx.css" %}" rel="stylesheet">
    <link id="folio-css" href="{% static "css/atelier.css" %}" rel="stylesheet">
    <script src="{% static '/script/atelier.js' %}"></script> 

   
  </head>
  <body>
    <nav id="nav" class="nav">


      
      <img class="navlogo" src="{% static "img/schueller_logo.png" %}" alt="firmenlogo schueller-design" />
      <a class="navlink" href="{% url 'indexslider:index' %}">Home</a>
      <a class="navlink" href="{% url 'kollektionen:ring_list' %}">Kollektionen</a>
      <a class="navlink" href="{% url 'aktuelles:aktuell' %}">Aktuell</a>
      <a class="navlink" href="{% url 'sendemail:contact' %}">Kontakt</a>
      <a class="navlink" href="{% url 'atelier:atelier' %}">Atelier</a>
      <a class="navlink" href="{% url 'wissenswert:wissenswert' %}">Wissenswertes</a>
      <a class="navlink" href="{% url 'adresses:adresses' %}">Händler</a>
      <a class="navlink" href="{% url 'haendlerlogin:login' %}">Händlerlogin</a>
        
          <div class="overlay-content">
            <a href="#">kollektion</a>
            <hr class="hr">
            <a href="#">aktuelles</a>
            <hr class="hr">
            <a href="#">kontakt</a>
            <hr class="hr">
            <a href="#">atelier</a>
            <hr class="hr">
            <a href="#">wissenswertes</a>
            <hr class="hr">
            <a href="#">händler</a>
            <div class="undernav">
              <div class="left">impressum</div>
              <div class="right">agb's</div>
            </div>
          </div>
        </div>
        <div class="row">
          <a href="javascript:void(0)" class="closebtn" onclick="openNav()"> <input type="checkbox" id="hamburg" />
          <label for="hamburg" class="hamburg" id="hamburg">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </label></a>
        </div>
        
      <div class="language">
        <div class="label-text-de lang">de</div>
        <label class="label">
         
          <div class="toggle">
            <input class="toggle-state" type="checkbox" name="check" value="check" />
            <div class="indicator"></div>
          </div>
          
        </label>
        <div class="label-text-eng lang">eng</div>
      </div>
      </nav>
 {% block content %}
      {% endblock %}
    </div>
  </body>
</html>