{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    

   
  </head>
  <body style="background-image:url('{% static "img/trauringe-auf-holz.jpg" %}');background-size: cover">
    <nav id="nav" class="nav">


      
      <img class="navlogo" src="{% static "img/schueller_logo.png" %}" alt="firmenlogo schueller-design" />
        <a class="navlink" href="{% url 'indexslider:index' %}">Home</a>
        <a class="navlink" href="{% url 'kollektionen:ring_list' %}">Kollektionen</a>
        <a class="navlink" href="{% url 'aktuelles:aktuell' %}">Aktuell</a>
        <a class="navlink" href="{% url 'sendemail:contact' %}">Kontakt</a>
        <a class="navlink" href="{% url 'atelier:atelier' %}">Atelier</a>
        <a class="navlink" href="{% url 'wissenswert:wissenswert' %}">Wissenswertes</a>
        <a class="navlink" href="{% url 'adresses:adresses' %}">Händler</a>
        <a class="navlink" href="{% url 'haendlerlogin:login' %}">Händlerlogin</a>
       
        <div id="myNav" class="overlay">
          <div class="overlay-content">
            <a href="{% url 'indexslider:index' %}">Home</a>
            <hr class="hr">
            <a href="{% url 'kollektionen:ring_list' %}">Kollektion</a>
            <hr class="hr">
            <a href="{% url 'aktuelles:aktuell' %}">Aktuelles</a>
            <hr class="hr">
            <a href="{% url 'sendemail:contact' %}">Kontakt</a>
            <hr class="hr">
            <a href="{% url 'atelier:atelier' %}">Atelier</a>
            <hr class="hr">
            <a href="{% url 'wissenswert:wissenswert' %}">Wissenswertes</a>
            <hr class="hr">
            <a href="{% url 'adresses:adresses' %}">Händler</a>
            <hr class="hr">
            <a href="{% url 'haendlerlogin:login' %}">Händlerlogin</a>
            <div class="undernav">
            <div>  <div class="left">Impressum</div>
              <div class="right">AGB</div></div>
             <div> <div class="left">Impressum</div>
              <div class="right">AGB</div></div>
            </div>
            <img class="navlogo" src="{% static "img/schueller_logo.png" %}" alt="firmenlogo schueller-design" />
          </div>
        </div>
        <div class="row" id="ham">
          <input type="checkbox" id="hamburg">
          <label for="hamburg" class="hamburg">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
          </label>
      </div>
        
      
      </nav>
    
      {% block content %}
      {% endblock %}

     
    </div>
    <div class="outerrim">

      <div class="flex logo">

       <img class="footerlogo" src="{% static "img/Logox.jpg" %}" alt="Logo der Firma Schüller-Design" />
      </div>
      
      <div class="flex goleft">
        <ul>
          <li>Kontakt</li>
          <li>Impressum</li>
          
          
        </ul>
      </div>
     
      <div class="flex">
        <ul>
          <li>DSGVO</li>
          <li>AGB</li>
        </ul>
      </div>
      
      <div class="flex">
        <img class="sozial" src="{% static "img/facebook.png" %}" alt="Zugang zur Facebookseite der Firma Schüller-Design" />
        <img class="sozial" src="{% static "img/instagram.png" %}" alt="Link zur Instagramseite der Firma Schüller-Design" />
      </div>
      
      
   
  </div>
  <script>
   
   let x =  document.getElementById('hamburg')
   x.onclick = function() {
      console.log('hamburg click for');
      document.getElementById('myNav').classList.toggle('active');}
      
  
  
  </script>
  <style>
    .overlay{
      display:none;
    }
    .active {
      display:block;
    }
    .overlay-content {
      width: 100vw;
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      background-color: #f0f8fff2;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .undernav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    font-size: 1em;
    font-family: monospace;
    background-color: gray;
    margin: 1em;
    padding: 0.61em;
    color: white;
}
   </style>
  </body>
</html>