{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    

   <style>
    .active{
      display:block;
    }
   </style>
  </head>
  <body>
    <nav id="nav" class="nav">


      
      <img class="navlogo" src="{% static "img/schueller_logo.png" %}" alt="firmenlogo schueller-design" />
        <a class="navlink" href="{% url 'indexslider:index' %}">Home</a>
        <a class="navlink" href="{% url 'kollektionen:ring_list' %}">Kollektionen</a>
        <a class="navlink" href="{% url 'aktuelles:aktuell' %}">Aktuell</a>
        <a class="navlink" href="{% url 'sendemail:contact' %}">Kontakt</a>
        <a class="navlink" href="{% url 'atelier:atelier' %}">Atelier</a>
        <a class="navlink" href="{% url 'wissenswert:wissenswert' %}">Wissenswertes</a>
        <a class="navlink" href="{% url 'adresses:adresses' %}">Händler</a>
        <a class="navlink" href="{% url 'haendlerlogin:login' %}">Händlerlogin</a>
       
        <div id="myNav" class="overlay">
          <div class="overlay-content">
            <a href="#">kollektion</a>
            <hr class="hr">
            <a href="#">aktuelles</a>
            <hr class="hr">
            <a href="#">kontakt</a>
            <hr class="hr">
            <a href="#">atelier</a>
            <hr class="hr">
            <a href="#">wissenswertes</a>
            <hr class="hr">
            <a href="#">händler</a>
            <div class="undernav">
              <div class="left">impressum</div>
              <div class="right">agb's</div>
            </div>
          </div>
        </div>
        <div class="row">
          <a href="javascript:void(0)" class="closebtn" onclick="openNav()"> <input type="checkbox" id="hamburg" />
          <label for="hamburg" class="hamburg" id="hamburg">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </label></a>
        </div>
        
      <div class="language">
        <div class="label-text-de lang">de</div>
        <label class="label">
         
          <div class="toggle">
            <input class="toggle-state" type="checkbox" name="check" value="check" />
            <div class="indicator"></div>
          </div>
          
        </label>
        <div class="label-text-eng lang">eng</div>
      </div>
      </nav>
    
      {% block content %}
      {% endblock %}

     
    </div>
    <div class="outerrim">

      <div class="flex logo">

       <img class="footerlogo" src="{% static "img/Logox.jpg" %}" alt="Logo der Firma Schüller-Design" />
      </div>
      
      <div class="flex goleft">
        <ul>
          <li>Kontakt</li>
          <li>Impressum</li>
          
          
        </ul>
      </div>
     
      <div class="flex">
        <ul>
          <li>DSGVO</li>
          <li>AGB</li>
        </ul>
      </div>
      
      <div class="flex">
        <img class="sozial" src="{% static "img/facebook.png" %}" alt="Zugang zur Facebookseite der Firma Schüller-Design" />
        <img class="sozial" src="{% static "img/instagram.png" %}" alt="Link zur Instagramseite der Firma Schüller-Design" />
      </div>
      
      
   
  </div>
  <script>
    document.getElementById('hamburg').onclick = function() {
      document.getElementById('myNav').classList.toggle('active')
  }
  </script>

  </body>
</html>